.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.just-between {
  justify-content: space-between;
}

.just-even {
  justify-content: space-evenly;
}

.just-f-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-f-start {
  align-items: flex-start;
}

.va {
  vertical-align: middle;
}

.col-45 {
  flex-basis: 90%;
}

.col-3 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 100%;
}

.col-4 {
  flex-basis: 50%;
}

.col-100 {
  flex-basis: 100%;
}

.t-center {
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1280px) {
  .col-45 {
    flex-basis: 45%;
  }

  .col-3 {
    flex-basis: calc(100% / 3);
  }

  .col-4 {
    flex-basis: 25%;
  }

  .col-2 {
    flex-basis: 50%;
  }
}
