.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jc {
  justify-content: center;
}

.jsb {
  justify-content: space-between;
}

.jfe {
  justify-content: flex-end;
}

.ac {
  align-items: center;
}

.afs {
  align-items: flex-start;
}

.va {
  vertical-align: middle;
}

.c-45 {
  flex-basis: 90%;
}

.c-3 {
  flex-basis: 100%;
}

.c-2 {
  flex-basis: 100%;
}

.c-4 {
  flex-basis: 50%;
}

.c-100 {
  flex-basis: 100%;
}

.t-center {
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 768px) {
  .c-45 {
    flex-basis: 45%;
  }

  .c-3 {
    flex-basis: calc(100% / 3);
  }

  .c-4 {
    flex-basis: 25%;
  }

  .c-2 {
    flex-basis: 50%;
  }
}
