.page-header {
  background-color: #2c0b03;
  padding: 1rem 0;
  text-align: center;
}

.page-title {
  color: white;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
}

.new-deck {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  padding-left: 1rem;
}

.modal-background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 50%);
  display: flex;
  justify-content: center;
}

.sticky-container {
  width: 300px;
  position: relative;
  top: 10rem;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5926%;
  position: relative;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky::before {
  box-shadow: -2px 2px 15px 0 rgb(0 0 0 / 50%);
  background-color: rgb(0 0 0 / 25%);
  content: "";
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

.sticky-content {
  background:
    linear-gradient(
      180deg,
      rgb(248, 255, 187) 0%,
      rgb(248, 255, 187) 12%,
      rgb(240, 241, 170) 75%,
      rgb(255, 241, 159) 100%
    );
  height: 100%;
  display: flex;
  justify-content: center;
  clip-path: url("#stickyClip");
}

.new-deck-form {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
}

.xmark-close {
  text-align: right;
}

.sticky-header {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

.sticky-input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.5px solid grey;
}

.sticky-submit {
  font-family: "Fuzzy Bubbles", sans-serif;
  background-color: transparent;
  border: none;
  margin-top: 3rem;
  font-size: 1.25rem;
}

.new-deck:hover,
.xmark-close:hover,
.sticky-submit:hover {
  cursor: pointer;
}

.scene {
  position: relative;
}

.folder-center {
  left: 50%;
  transform: translateX(-50%);
}

.folder-front {
  position: absolute;
  width: 95%;
  height: 10rem;
  text-align: center;
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 2px solid brown;
  z-index: 2;
  transition: transform 0.25s;
}

.folder-back {
  position: absolute;
  width: 95%;
  height: 10rem;
  background-color: #fff3cd;
  border-radius: 0 0.5rem 0 0;
  z-index: -2;
}

.option-paper {
  position: absolute;
  transform: translateX(0.5rem) translateY(-0.25rem);
  background-color: white;
  width: 95%;
  height: 10rem;
}

.folder-tab {
  position: absolute;
  width: 30%;
  height: 10px;
  bottom: 0;
  transform: translateX(0.5rem);
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: -2;
}

.option-paper.is-showing {
  animation: show-paper 1s linear 1;
  transform: translateX(-4px) translateY(8px);
}

.option-paper.in-front {
  z-index: 3;
}

.option-paper.hiding {
  animation: hide-paper 1s linear 1;
}

@keyframes show-paper {
  0% {
    transform: 0;
  }

  40% {
    transform: translateY(-20rem);
  }

  100% {
    transform: 0;
    z-index: 3;
  }
}

@keyframes hide-paper {
  0% {
    transform: 0;
  }

  60% {
    transform: translateY(-20rem);
  }

  100% {
    transform: 0;
  }
}

@media only screen and (min-width: 738px) {
  .folder-front:hover {
    transform: translateY(7px) rotateX(-20deg);
  }
}
