body {
  height: 100vh;
  background:
    linear-gradient(
      217deg,
      rgb(16, 64, 48),
      rgba(255, 255, 255, 0) 60%,
      rgb(16, 64, 48) 75%,
      rgba(255, 255, 255, 0) 90%
    ),
    linear-gradient(
      145deg,
      rgb(16, 64, 48),
      rgba(255, 255, 255, 0) 90%
    ),
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0),
      rgb(16, 64, 48)
    ),
    linear-gradient(
      45deg,
      rgb(16, 64, 48),
      rgba(255, 255, 255, 0) 95%
    );
}

i {
  padding-right: 0.25rem;
}

.hidden {
  display: none !important;
}

/* Header */

.page-header {
  background-color: #2a0800;
  padding: 1rem 0;
  text-align: center;
}

.page-title,
.tour-page-title {
  color: white;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
}

.tour-page-title {
  text-align: center;
  margin-top: 1rem;
}

/* Not Found Page */

.not-found-text {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1.75rem 0 0;
}

.return-home {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

/* Backgrounds */

.modal-background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  z-index: 5;
}

.tour-background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 50%);
}

/* Sticky Modal */

.sticky-container {
  width: 300px;
  position: relative;
  top: 10rem;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5926%;
  position: relative;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky::before {
  box-shadow: -2px 2px 15px 0 rgb(0 0 0 / 50%);
  background-color: rgb(0 0 0 / 25%);
  content: "";
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

.sticky-content {
  height: 100%;
  display: flex;
  justify-content: center;
  clip-path: url("#stickyClip");
}

.yellow {
  background:
    linear-gradient(
      180deg,
      rgb(249, 255, 198) 0%,
      rgb(249, 255, 198) 12%,
      rgb(231, 236, 187) 75%,
      rgb(236, 240, 208) 100%
    );
}

.blue {
  background:
    linear-gradient(
      180deg,
      rgb(187, 235, 255) 0%,
      rgb(187, 235, 255) 12%,
      rgb(170, 220, 241) 75%,
      rgb(195, 229, 244) 100%
    );
}

.orange {
  background:
    linear-gradient(
      180deg,
      rgb(255, 210, 171) 0%,
      rgb(255, 210, 171) 12%,
      rgb(236, 196, 160) 75%,
      rgb(233, 205, 180) 100%
    );
}

.pink {
  background:
    linear-gradient(
      180deg,
      rgb(255, 227, 244) 0%,
      rgb(255, 227, 244) 12%,
      rgb(230, 204, 219) 75%,
      rgb(253, 236, 246) 100%
    );
}

.new-deck-form {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
}

.xmark-close {
  position: absolute;
  right: -1rem;
  background: transparent;
  border: none;
  color: black;
}

.sticky-header,
.study-title {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 1.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Modal Form / Messages */

.new-deck {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  padding-left: 1rem;
  border: none;
  background: transparent;
}

.sticky-input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-family: Delius, sans-serif;
  outline: none;
}

.sticky-submit {
  font-family: "Fuzzy Bubbles", sans-serif;
  background-color: transparent;
  border: none;
  margin-top: 3rem;
  font-size: 1.25rem;
  color: black;
}

.new-deck-error,
.new-card-error {
  color: red;
  font-family:
    Delius,
    sans-serif;
  margin: 0;
  font-size: 0.75rem;
}

.new-card-error {
  padding-left: 1.5rem;
}

.delete-show-modal {
  background: transparent;
  border: none;
  color: #ff9292;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.delete-confirm,
.reset-confirm,
.view-card-question {
  font-family: "Fuzzy Bubbles", sans-serif;
}

.delete-card-message {
  text-align: center;
  width: 90%;
  padding-left: 1.5rem;
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.cancel-delete,
.confirm-delete,
.cancel-reset,
.confirm-reset {
  font-size: 1.25rem;
  color: black;
  background: transparent;
  border: none;
  font-family: "Fuzzy Bubbles", sans-serif;
}

.cancel-delete,
.cancel-reset {
  padding-left: 1.5rem;
}

.confirm-delete,
.confirm-reset {
  padding-right: 1.5rem;
}

.delete-deck-message,
.reset-knowledge-message {
  text-align: center;
}

.delete-deck-name,
.reset-deck-name {
  text-align: center;
  font-size: 1.75rem;
}

.delete-warning,
.reset-warning {
  color: red;
  font-weight: 800;
  font-size: 0.75rem;
  padding-left: 1.25rem;
  padding-bottom: 1rem;
}

.delete-deck-button,
.reset-knowledge-button,
.study-button {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 1rem;
  padding-right: 0;
  color: black;
  background: transparent;
  border: none;
}

.study-title {
  text-align: center;
  width: 90%;
}

.study-link-container {
  padding-left: 1.5rem;
}

.study-option {
  text-decoration: none;
  color: black;
  font-family: Delius, sans-serif;
  padding-bottom: 1rem;
}

.study-option > i {
  padding-left: 0.25rem;
}

.close-study {
  padding-right: 1.25rem;
  padding-top: 1rem;
  background: transparent;
  border: none;
  color: black;
}

/* Folders */

.scene {
  position: relative;
  height: 10rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
  max-width: 375px;
}

.folder-front {
  position: absolute;
  font-family: "Fuzzy Bubbles", sans-serif;
  width: 95%;
  height: 100%;
  text-align: center;
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 3px solid #ffde7038;
  z-index: 2;
  transition: transform 0.25s;
}

.folder-back {
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: #fff3cd;
  border-radius: 0 0.5rem 0 0;
  border: 2px solid #ffde7038;
  z-index: -2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

.folder-tab {
  position: absolute;
  width: 30%;
  height: 20%;
  top: 0;
  transform: translateX(0.6rem) translateY(1.5rem);
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 1px solid #ffde7038;
  border-left: 1px solid #ffde7038;
  z-index: -1;
}

.option-paper {
  position: absolute;
  font-family: "Fuzzy Bubbles", sans-serif;
  transform: translateX(0.5rem) translateY(-0.25rem);
  background:
    repeating-linear-gradient(
      #fff,
      #fff 6%,
      #9198e5 6%,
      #9198e5 6.75%
    );
  width: 95%;
  height: 100%;
}

.options-container {
  padding-top: 2rem;
  width: 90%;
  padding-left: 2.5rem;
}

.card-option {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}

.stripes {
  height: 100%;
  background:
    linear-gradient(
      to right,
      transparent,
      transparent 10%,
      rgba(255, 79, 79, 0.75) 10%,
      rgba(255, 79, 79, 0.75) 10.5%,
      transparent 10.5%,
      transparent 12%,
      rgba(255, 79, 79, 0.75) 12%,
      rgba(255, 79, 79, 0.75) 12.5%,
      transparent 12.5%
    );
}

.deck-title {
  text-align: center;
  padding-top: 0.75rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.option-paper.is-showing {
  animation: show-paper 1s linear 1;
  animation-fill-mode: forwards;
}

.option-paper.hiding {
  animation: hide-paper 0.5s linear 1;
  animation-fill-mode: forwards;
}

.confidence-meter {
  margin-top: 0.75rem;
  width: 70%;
  height: 2.5vh;
}

/* Cards */

.card-front {
  position: relative;
  background-color: #fffcde;
  height: 10rem;
  margin: 0 auto 0.75rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  max-width: 338px;
}

.card-back {
  background:
    linear-gradient(
      #fffcde,
      #fffcde 20%,
      red 20%,
      red 21.5%,
      #fffcde 21.5%
    );
  height: 10rem;
  margin: 0 auto 0.75rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  max-width: 338px;
}

.edit-card-front {
  background-color: #fffcde;
  height: 10rem;
  margin: 0 auto;
  max-width: 338px;
}

.new-card > label {
  margin-top: 2rem;
}

.card-question,
.card-answer {
  height: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  inline-size: 20rem;
  overflow: scroll;
  overflow-wrap: break-word;
}

.card-question {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 800;
  padding-top: 10%;
}

.flash-card-repeating-blue {
  transform: translateY(30%);
  height: 80%;
  background:
    repeating-linear-gradient(
      transparent,
      transparent 14.5%,
      #9198e5 14.5%,
      #9198e5 15.25%,
      transparent 15.5%
    );
}

.add-card-button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 1.5rem;
  padding-right: 2rem;
}

/* View Cards Page */

.view-card-question,
.view-card-answer {
  font-size: 1.5rem;
  text-align: center;
  inline-size: 20rem;
  overflow: scroll;
  overflow-wrap: break-word;
  margin: 0 auto;
}

.deck-view-name {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
}

.new-card-deck,
.edit-new-card-deck {
  color: white;
  font-family: Delius, sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: right;
  padding-right: 2rem;
}

.view-study-button {
  font-family: Delius, sans-serif;
  color: white;
  background: transparent;
  border: none;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

/* Edit Card Page */

.new-card-deck {
  padding-bottom: 1rem;
}

.deck-edit-card {
  color: white;
  font-family: Delius, sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: right;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.view-card-answer,
.card-answer {
  font-family: Delius, sans-serif;
}

/* Study Cards */

.study-scene {
  transform: perspective(600px);
  margin: auto;
  width: 100%;
}

.study-card-set {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  height: 10rem;
  transition: transform 0.5s linear;
  transform-origin: center right;
  transform-style: preserve-3d;
}

.study-card-front,
.study-card-back {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 90%;
  max-width: 338px;
}

.study-card-front {
  background-color: #fffcde;
}

.study-card-back {
  transform: rotateY(180deg);
  background:
    linear-gradient(
      #fffcde,
      #fffcde 20%,
      red 20%,
      red 21.5%,
      #fffcde 21.5%
    );
}

.half-a {
  transform: translateX(-50%) rotateY(-90deg);
}

.half-q {
  transform: translateX(-50%) rotateY(-90deg);
}

.answer {
  transform: translateX(-100%) rotateY(-180deg);
}

.question-number {
  color: white;
  font-family: "Fuzzy Bubbles", sans-serif;
  padding-left: 1rem;
}

.confidence {
  color: white;
  font-family: Delius, sans-serif;
  border-radius: 50%;
  font-weight: 800;
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  border: none;
}

.confidence:nth-child(1) {
  background-color: #a52424;
}

.confidence:nth-child(2) {
  background-color: #dc9554;
}

.confidence:nth-child(3) {
  background-color: #dbd82c;
}

.confidence:nth-child(4) {
  background-color: #70ad49;
}

.confidence:nth-child(5) {
  background-color: #3c9b46;
}

.highlight {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 45%;
  height: 15%;
  border-radius: 1em 0;
}

.view-highlight {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 45%;
  height: 15%;
  border-radius: 1em 0;
}

.confidence-1 {
  background:
    linear-gradient(
      -100deg,
      rgba(255, 20, 0, 0.2),
      rgba(255, 20, 0, 0.7) 95%,
      rgba(255, 20, 0, 0.1)
    );
}

.confidence-2 {
  background:
    linear-gradient(
      -100deg,
      rgba(230, 114, 5, 0.2),
      rgba(230, 114, 5, 0.7) 95%,
      rgba(230, 114, 5, 0.1)
    );
}

.confidence-3 {
  background:
    linear-gradient(
      -100deg,
      rgba(255, 251, 0, 0.2),
      rgba(255, 251, 0, 0.7) 95%,
      rgba(255, 251, 0, 0.1)
    );
}

.confidence-4 {
  background:
    linear-gradient(
      -100deg,
      rgba(112, 173, 73, 0.2),
      rgba(112, 173, 73, 0.7) 95%,
      rgba(112, 173, 73, 0.1)
    );
}

.confidence-5 {
  background:
    linear-gradient(
      -100deg,
      rgba(38, 194, 53, 0.2),
      rgba(38, 194, 53, 0.7) 95%,
      rgba(38, 194, 53, 0.1)
    );
}

/* No cards to study redirect */

.no-cards-head {
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Gloria Hallelujah", sans-serif;
  color: white;
}

.no-cards-message {
  font-family: "Fuzzy Bubbles", sans-serif;
  color: white;
  text-align: center;
}

.no-card-add {
  font-family: "Gloria Hallelujah", sans-serif;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 2px solid #ffde7038;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  border-radius: 0.25rem;
  background-color: #fffcde;
  text-decoration: none;
}

.button-container {
  padding-top: 4rem;
}

/* Authentication Page */

.clipboard {
  position: relative;
  width: 80%;
  height: 60vh;
  background: #7c6652;
  border-radius: 0.25rem;
  margin: 2.5rem auto;
  padding-top: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.clip {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 75%;
  height: 2rem;
  background:
    linear-gradient(
      to bottom,
      #cecece 60%,
      rgb(233, 233, 233) 75%,
      #cecece 100%
    );
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.page {
  position: absolute;
  border-radius: 0.1rem;
  background-color: white;
  width: 90%;
  height: 90%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.placeholder-image {
  object-fit: contain;
  height: 20vh;
}

.auth {
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-family: Delius, sans-serif;
}

.switch-container {
  padding-top: 1rem;
}

.username,
.password {
  width: 90%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.25rem;
  font-family: Delius, sans-serif;
}

.auth-button {
  background: transparent;
  border: none;
  font-family: Delius, sans-serif;
  font-size: 1.25rem;
  color: black;
}

.switch-auth {
  font-size: 0.75rem;
  margin: 0;
}

.auth-type {
  padding-left: 0.75rem;
  color: black;
}

.username-error {
  color: red;
  font-size: 0.75rem;
  margin: 0;
}

.sign-out-button {
  position: absolute;
  top: 6.25rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Fuzzy Bubbles", sans-serif;
}

.not-found-img {
  width: 50%;
}

.idle-img {
  position: absolute;
  width: 75px;
  left: 0;
  top: 0.75rem;
}

.trial-container {
  position: absolute;
  bottom: -4rem;
}

.trial-header {
  font-family: "Gloria Hallelujah", sans-serif;
  color: white;
  text-align: center;
}

.trial-button {
  background-color: #2a0800;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-family: "Fuzzy Bubbles", sans-serif;
}

/* Tour Pages */

.new-deck-back,
.new-deck-back-2 {
  font-family: "Gloria Hallelujah", sans-serif;
  color: white;
  font-weight: 500;
  padding-left: 1rem;
  margin: 0;
}

.click-instruction {
  font-family: "Gloria Hallelujah", sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0.5rem;
}

.new-deck-back-2 {
  font-size: 2rem;
}

.page-one-container,
.page-two-container,
.page-three-container {
  width: 100%;
}

.page-one-container {
  margin-top: 15rem;
}

.page-two-container {
  padding-top: 5rem;
}

.page-three-container {
  padding-top: 2rem;
}

.text-box,
.text-box-2,
.text-box-3,
.text-box-4 {
  border-radius: 0.5rem;
  font-family: "Fuzzy Bubbles", sans-serif;
  line-height: 2rem;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  width: 90%;
  height: 25vh;
  margin: auto;
  border: 2px solid #2a0800;
}

.text-box-2 {
  margin-top: 4rem;
  height: 23vh;
  padding-right: 1rem;
}

.text-box-3 {
  margin-top: 15rem;
  height: 22vh;
  z-index: 5;
}

.text-box-4 {
  margin-top: 11rem;
  height: 22vh;
}

.fa-hand-pointer {
  position: absolute;
  font-size: 2rem;
  color: rgb(211, 211, 211);
  right: 2rem;
  top: 2rem;
  z-index: 2;
}

.fa-angles-up {
  color: white;
  font-size: 2rem;
  animation: arrow-point 1s linear infinite;
}

.arrow-2 {
  padding-left: 4rem;
}

.arrow-4 {
  position: absolute;
  left: 50%;
}

.main-box-text,
.main-box-text-4,
.main-box-text-5 {
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

.main-box-text-4,
.main-box-text-5 {
  padding-top: 1rem;
}

.tour-button {
  background: transparent;
  font-family: Delius, sans-serif;
  color: black;
  border: none;
  font-size: 1.25rem;
}

.tour-image {
  width: 45%;
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.tour-stick {
  width: 40%;
  position: absolute;
  right: 2rem;
  z-index: 2;
  bottom: 1.25rem;
  transition: transform 0.5s linear;
}

.stick-2 {
  transform: rotateZ(-10deg);
}

.stick-3 {
  transform:
    rotateZ(35deg)
    translateY(2rem)
    translateX(0.5rem);
}

.stick-4 {
  transform:
    rotateZ(10deg)
    translateY(0.75rem)
    translateX(0.25rem);
}

.tour-folder {
  position: absolute;
  margin: 10rem auto 0;
  width: 100%;
}

.get-started-button {
  margin-top: 0.5rem;
  color: white;
  font-family: Delius, sans-serif;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: rgb(16, 64, 48);
  border: 2px solid #2a0800;
}

.error-message {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
}

.lds-ripple {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(177, 177, 177);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

/* Animations */

@keyframes show-paper {
  0% {
    transform: 0;
  }

  20% {
    transform: translateY(-2.5rem);
  }

  50% {
    transform: translateY(-10rem);
    z-index: 3;
  }

  60% {
    transform: translateY(-15rem);
    z-index: 3;
  }

  100% {
    transform: translateY(0) translateX(2.5%);
    z-index: 3;
  }
}

@keyframes arrow-point {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-paper-desktop {
  0% {
    transform: 0;
  }

  20% {
    transform: translateY(-2.5rem) translateX(3%);
  }

  50% {
    transform: translateY(-10rem) translateX(6%);
    z-index: 3;
  }

  60% {
    transform: translateY(-15rem) translateX(9%);
    z-index: 3;
  }

  100% {
    transform: translateY(0) translateX(12%);
    z-index: 3;
  }
}

@keyframes hide-paper {
  0% {
    transform: 0;
    z-index: 3;
  }

  50% {
    transform: translateY(-15rem);
    z-index: 3;
  }

  100% {
    transform: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media only screen and (min-width: 768px) {
  /* Auth Page */
  .clipboard {
    width: 40%;
  }

  .trial-container {
    left: 30%;
    right: 30%;
    bottom: 2rem;
  }

  .idle-img {
    width: 10%;
    max-width: 78px;
  }

  /* Study Page */
  .study-card-set {
    height: 26vh;
  }

  .study-card-front,
  .study-card-back {
    width: 60%;
    max-width: 507px;
  }

  /* Tour Pages */
  .tour-image {
    max-width: 308px;
  }

  .text-box,
  .text-box-2,
  .text-box-3,
  .text-box-4 {
    width: 60%;
    height: 20vh;
    max-width: 460px;
  }

  .text-box-2 {
    margin-top: 4rem;
  }

  .text-box-3 {
    height: 16vh;
  }

  .text-box-4 {
    height: 18vh;
  }

  .tour-stick {
    right: 2.75rem;
    bottom: 2.25rem;
    max-width: 275px;
  }

  .stick-2 {
    transform:
      rotateZ(-25deg)
      translateY(-2rem)
      translateX(0.25rem);
  }

  .stick-3 {
    transform:
      rotateZ(20deg)
      translateY(2rem)
      translateX(0.5rem);
  }

  .stick-4 {
    transform:
      rotateZ(10deg)
      translateY(0.75rem)
      translateX(0.25rem);
  }

  /* Error Message Placement */
  .new-card-error {
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  /* Folders */
  .scene {
    max-width: 676px;
  }

  .folder-front,
  .folder-back,
  .option-paper {
    width: 80%;
  }

  .option-paper {
    transform: translateX(3rem) translateY(-0.25rem);
    background:
      repeating-linear-gradient(
        #fff,
        #fff 10%,
        #9198e5 10%,
        #9198e5 10.5%
      );
  }

  .option-paper.is-showing {
    animation: show-paper-desktop 1s linear 1;
    animation-fill-mode: forwards;
  }

  .folder-tab {
    transform: translateX(3.25rem) translateY(1.5rem);
  }

  .confidence-meter {
    margin-top: 0.5rem;
    width: 75%;
    height: 5vh;
  }

  /* Cards */
  .card-front,
  .card-back,
  .edit-card-front {
    height: 20rem;
    max-width: 676px;
  }

  .study-card-set {
    height: 15rem;
  }

  .button-container {
    padding-top: 10vh;
  }

  .study-card-front,
  .study-card-back {
    height: 18rem;
    max-width: 600px;
  }

  .half-a {
    transform: translateX(-50%) rotateY(-90deg);
  }

  .half-q {
    transform: translateX(-50%) rotateY(-90deg);
  }

  .answer {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .flash-card-repeating-blue {
    transform: translateY(30%);
    height: 80%;
    background:
      repeating-linear-gradient(
        transparent,
        transparent 15%,
        blue 15%,
        blue 15.5%,
        transparent 15.5%
      );
  }

  /* View Card Page */
  .new-card-deck,
  .edit-new-card-deck,
  .view-study-button {
    font-size: 1.75rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }

  .deck-view-name {
    text-align: left;
    padding-left: 2rem;
    font-size: 3rem;
  }

  .new-card-deck,
  .deck-edit-card {
    padding-right: 2.5rem;
  }

  .card-question,
  .card-answer,
  .view-card-question,
  .view-card-answer {
    font-size: 2.25rem;
    inline-size: 35rem;
    overflow: auto;
  }

  .card-answer {
    height: 15rem;
  }

  .question-number {
    padding-left: 3rem;
  }

  .add-card-button,
  .delete-show-modal {
    font-size: 2rem;
  }

  .no-cards-head {
    padding-left: 0;
    text-align: center;
  }

  /* Auth Page */
  .clipboard {
    margin-top: 2.5rem;
    width: 25%;
    height: 70vh;
  }

  .placeholder-image {
    height: 30vh;
  }

  /* Tour Pages */
  .main-box-text {
    width: 100%;
  }

  .text-box,
  .text-box-2,
  .text-box-3,
  .text-box-4 {
    width: 25%;
    height: 25vh;
    margin-right: 4rem;
  }

  .text-box-2 {
    margin-top: 4rem;
  }

  .text-box-3 {
    margin-top: 13rem;
  }

  .text-box-4 {
    margin-top: 11rem;
  }

  .tour-image {
    width: 15%;
    bottom: 0;
  }

  .tour-stick {
    width: 14%;
  }

  .stick-1,
  .stick-5 {
    transform:
      translateX(1rem)
      translateY(1rem);
  }

  .stick-2 {
    transform:
      rotateZ(-50deg)
      translateY(-1.75rem)
      translateX(1rem);
  }

  .stick-3 {
    transform:
      rotateZ(-35deg)
      translateY(-1rem)
      translateX(0.75rem);
  }

  .stick-4 {
    transform:
      rotateZ(-25deg)
      translateY(-0.25rem)
      translateX(0.75rem);
  }

  .tour-folder {
    width: calc(100% / 3);
    margin: 10rem auto 0;
  }

  .get-started-button {
    margin-top: 2rem;
  }

  .not-found-img {
    width: 18%;
  }

  .idle-img {
    width: 5%;
    max-width: 78px;
    margin-left: 2rem;
  }

  .trial-container {
    left: 0;
    right: 80%;
    top: 6rem;
    height: 10vh;
  }

  .new-card-error {
    padding-left: 2.75rem;
  }
}

@media only screen and (min-width: 1920px) {
  /* Folders */
  .scene {
    max-width: 500px;
  }

  .folder-front,
  .folder-back,
  .option-paper {
    width: 80%;
  }

  .option-paper {
    background:
      repeating-linear-gradient(
        #fff,
        #fff 12%,
        #9198e5 12%,
        #9198e5 12.5%
      );
  }

  .confidence-meter {
    margin-top: 0.5rem;
    width: 75%;
    height: 3.5vh;
  }

  /* Cards */
  .button-container {
    padding-top: 8.5vh;
  }

  .study-card-front,
  .study-card-back {
    height: 20rem;
    max-width: 676px;
  }

  /* View Card Page */
  .new-card-deck,
  .deck-edit-card {
    padding-right: 5rem;
  }

  .card-front,
  .edit-card-front,
  .card-back {
    max-width: 800px;
    height: 40vh;
  }

  .card-question,
  .card-answer,
  .view-card-question,
  .view-card-answer {
    font-size: 2.25rem;
    inline-size: 35rem;
    overflow: auto;
  }

  .card-answer {
    height: 15rem;
  }

  .question-number {
    padding-left: 3rem;
  }

  .delete-show-modal {
    padding-left: 5rem;
  }

  .add-card-button,
  .edit-new-card-deck {
    padding-right: 5rem;
  }

  /* Auth Page */
  .clipboard {
    margin-top: 2.5rem;
    width: 25%;
    height: 70vh;
  }

  .placeholder-image {
    height: 30vh;
  }

  /* Tour Pages */
  .main-box-text {
    width: 100%;
  }

  .text-box,
  .text-box-2,
  .text-box-3,
  .text-box-4 {
    height: 20vh;
  }

  .stick-2 {
    transform: rotateZ(-50deg) translateY(-3rem) translateX(1.5rem);
  }

  .stick-3 {
    transform: rotateZ(-35deg) translateY(-2em) translateX(0.75rem);
  }

  .stick-4 {
    transform: rotateZ(-25deg) translateY(-1rem) translateX(0.75rem);
  }

  .new-card-error {
    width: 100%;
    padding-left: 5rem;
  }
}

@media (hover: hover) {
  .folder-front:hover {
    cursor: pointer;
    transform: rotateX(-20deg) translateX(-50%) translateY(0.3rem);
  }

  a:hover,
  button:hover,
  label:hover,
  .folder-front:hover,
  .option-paper:hover,
  .study-card-front,
  .cursor:hover {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion) {
  /* Simple flip in place animation if reduced motion setting is active */
  .study-card-set {
    transform-origin: center;
  }

  .half-a {
    transform: rotateY(-90deg);
  }

  .half-q {
    transform: rotateY(-90deg);
  }

  .answer {
    transform: rotateY(-180deg);
  }
}
