.page-header {
  background-color: #2c0b03;
  padding: 1rem 0;
  text-align: center;
}

.page-title {
  color: white;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
}

.new-deck {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  padding-left: 1rem;
}

.modal-background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  z-index: 5;
}

.sticky-container {
  width: 300px;
  position: relative;
  top: 10rem;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5926%;
  position: relative;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky::before {
  box-shadow: -2px 2px 15px 0 rgb(0 0 0 / 50%);
  background-color: rgb(0 0 0 / 25%);
  content: "";
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

.sticky-content {
  background:
    linear-gradient(
      180deg,
      rgb(248, 255, 187) 0%,
      rgb(248, 255, 187) 12%,
      rgb(240, 241, 170) 75%,
      rgb(255, 241, 159) 100%
    );
  height: 100%;
  display: flex;
  justify-content: center;
  clip-path: url("#stickyClip");
}

.new-deck-form {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
}

.xmark-close {
  text-align: right;
}

.sticky-header {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

.sticky-input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.5px solid grey;
  font-family: Delius, sans-serif;
}

.sticky-submit {
  font-family: "Fuzzy Bubbles", sans-serif;
  background-color: transparent;
  border: none;
  margin-top: 3rem;
  font-size: 1.25rem;
}

.scene {
  position: relative;
  height: 10rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.folder-front {
  position: absolute;
  font-family: "Fuzzy Bubbles", sans-serif;
  width: 95%;
  height: 100%;
  text-align: center;
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 2px solid #ffdf76;
  z-index: 2;
  transition: transform 0.25s;
}

.folder-front:hover {
  cursor: pointer;
  transform: rotateX(-20deg) translateX(-50%) translateY(0.3rem);
}

.folder-back {
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: #fff3cd;
  border-radius: 0 0.5rem 0 0;
  border: 2px solid #ffdf76;
  z-index: -2;
}

.folder-tab {
  position: absolute;
  width: 30%;
  height: 20%;
  top: 0;
  transform: translateX(0.6rem) translateY(1.5rem);
  background-color: #fff3cd;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 2px solid #ffdf76;
  border-left: 2px solid #ffdf76;
  z-index: -1;
}

.option-paper {
  position: absolute;
  font-family: "Fuzzy Bubbles", sans-serif;
  transform: translateX(0.5rem) translateY(-0.25rem);
  background:
    repeating-linear-gradient(
      #fff,
      #fff 5%,
      #9198e5 5%,
      #9198e5 5.2%
    );
  width: 95%;
  height: 100%;
}

.options-container {
  padding-top: 2rem;
  padding-left: 3rem;
  width: 90%;
}

.card-option {
  text-decoration: none;
  color: black;
}

.stripes {
  height: 100%;
  background:
    linear-gradient(
      to right,
      transparent,
      transparent 10%,
      rgba(255, 0, 0, 0.75) 10%,
      rgba(255, 0, 0, 0.75) 10.5%,
      transparent 10.5%,
      transparent 12%,
      rgba(255, 0, 0, 0.75) 12%,
      rgba(255, 0, 0, 0.75) 12.5%,
      transparent 12.5%
    );
}

.deck-title {
  width: 80%;
  text-align: center;
  padding-top: 0.75rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.option-paper.is-showing {
  animation: show-paper 1s linear 1;
  animation-fill-mode: forwards;
  transform: translateX(0.25rem) translateY(0.25rem);
}

.option-paper.hiding {
  animation: hide-paper 1s linear 1;
  animation-fill-mode: forwards;
}

.card-front {
  background-color: rgb(253 246 166);
  height: 10rem;
  margin: 0 auto 2rem;
}

.card-back {
  background:
    linear-gradient(
      rgb(253 246 166),
      rgb(253 246 166) 20%,
      red 20%,
      red 21.5%,
      rgb(253 246 166) 21.5%
    );
  height: 10rem;
  margin: 0 auto 2rem;
}

.new-card > label {
  margin-top: 2rem;
}

.card-question,
.card-answer {
  width: 80%;
  height: 80%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
}

.card-question {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 800;
}

.card-answer {
  font-family: Delius, sans-serif;
}

.flash-card-repeating-blue {
  transform: translateY(30%);
  height: 80%;
  background:
    repeating-linear-gradient(
      transparent,
      transparent 15%,
      blue 15%,
      blue 16%,
      transparent 16%
    );
}

.add-card-button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  float: right;
  padding-right: 2rem;
}

.not-found-text {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.return-home {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  margin: auto;
  font-size: 1.5rem;
}

.deck-view-name {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

.new-card-deck {
  padding-bottom: 1rem;
  color: white;
  font-family: Delius, sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: right;
  padding-right: 2rem;
}

.new-deck:hover,
.xmark-close:hover,
.sticky-submit:hover,
.option-paper:hover,
.add-card-button:hover,
label:hover {
  cursor: pointer;
}

@keyframes show-paper {
  0% {
    transform: 0;
  }

  20% {
    z-index: 3;
  }

  40% {
    transform: translateY(-15rem);
    z-index: 3;
  }

  100% {
    transform: 0;
    z-index: 3;
  }
}

@keyframes hide-paper {
  0% {
    transform: 0;
    z-index: 3;
  }

  60% {
    transform: translateY(-15rem);
    z-index: 3;
  }

  100% {
    transform: 0;
  }
}

@media only screen and (min-width: 738px) {
  .folder-front,
  .folder-back,
  .option-paper {
    width: 80%;
  }

  .option-paper {
    transform: translateX(3rem) translateY(-0.25rem);
  }

  .option-paper.is-showing {
    transform: translateX(3rem) translateY(0.25rem);
  }

  .folder-tab {
    transform: translateX(3.25rem) translateY(1.5rem);
  }

  .card-front,
  .card-back {
    height: 20rem;
  }

  .flash-card-repeating-blue {
    transform: translateY(30%);
    height: 80%;
    background:
      repeating-linear-gradient(
        transparent,
        transparent 15%,
        blue 15%,
        blue 15.5%,
        transparent 15.5%
      );
  }

  .new-card-deck {
    font-size: 1.75rem;
  }

  .deck-view-name {
    text-align: left;
    padding-left: 2rem;
    font-size: 3rem;
    margin: 2rem auto;
  }
}
